<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Auth | Important</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Hello Auth | Important</h1>
        <p><small>Protected page</small></p>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
      <p>Hello <%= user%></p>
    </main>
    <footer><a href="/logout">Logout</a></footer>
  </body>
</html>
