<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Auth | Main</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Hello Auth | Main</h1>
        <p><small>Unprotected page</small></p>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
